
# Jupyter notebooks
.ipynb_checkpoints/

# Python artifacts
__pycache__/
*.pyc

.DS_Store

# IDE / editor files
.idea/

# Conda / Anaconda
anaconda_projects/

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
build/
*.bbl
*.bcf
*.vrb
